{# appel du fichier base  #}
{%  extends 'Admin/AdminBase.html.twig' %}

{% block metaTitle %}
    un article
{% endblock metaTitle %}

{% block main %}
    <div >
        <article class="categorie">
            <h2>Titre de l'article :{{ article.title }}</h2>
            <p>Contenu de l'article :{{ article.content}} </p>
            <p>Date de création de l'article :{{ article.createAt | date('y-m-d') }}</p>
        </article>
    </div>
{% endblock main %}

